/*
 * Globals
 */


/* Custom default button */
.btn-secondary {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #58a6ff;
  text-decoration: none;
  text-shadow: none; /* Prevent inheritance from `body` */
  color: #333;
}

/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}

a {
    color: #58a6ff;
    text-decoration: none;
  }
  
  a:hover, a:focus, a:active {
    color: #58a6ff;
    text-decoration: underline;
  }

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
  text-decoration: none;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
  text-decoration: none;
}
